# Зависимости и временные папки
node_modules/
.DS_Store
Thumbs.db

# Исходные файлы старого проекта и сырые данные книги
be-creative-main/
С номерами стихов/

# Локальные файлы редакторов
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
